.global-statusbar {
    height: var(--global-statusbar-height);
    width: 100%;
    background-color: var(--bg-surface-2);
    border-top: 1px solid var(--border-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-base);
    font-size: var(--p-font-size-xs);
    color: var(--text-secondary);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.global-statusbar .empty-state {
    height: var(--p-space-xxs);
    min-height: var(--p-space-xxs);
}

.statusbar-left, .statusbar-center, .statusbar-right {
    display: flex;
    align-items: center;
    height: 100%;
    border-right: 1px solid var(--border-default);
    padding: 0 var(--p-space-s);
}

.statusbar-left, .statusbar-right {
    flex-shrink: 0;
    gap: var(--p-space-xs);
}

.statusbar-center {
    flex-grow: 1;
    justify-content: left;
    overflow: hidden; /* Prevent push-out */
}

.statusbar-section {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.statusbar-divider {
    width: 1px;
    height: var(--p-space-xs);
    background-color: var(--border-default);
}

.statusbar-selected {
    color: var(--text-info);
    font-weight: 500;
}

.statusbar-messages {
    opacity: 0.7;
}

.system-indicator {
    display: flex;
    align-items: center;
}

.status-btn {
    height: var(--p-space-l);
    width: var(--p-space-l);
    color: var(--text-tertiary);
}
.status-btn:hover {
    color: var(--text-primary);
    background: transparent;
}
.status-btn.success-text {
    color: var(--text-success);
}

/* Popover rudimentary style */
.system-popover {
    position: absolute;
    bottom: 2.25rem; /* 36px */
    right: 0.625rem;
    width: 300px;
}

.popover-header {
    font-weight: 600;
    padding-bottom: var(--p-space-s);
    border-bottom: 1px solid var(--border-default);
    margin-bottom: var(--p-space-s);
}

.task-row {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.task-row .loader-container {
    width: var(--p-space-l);
    height: var(--p-space-l);
    margin: 0 var(--p-space-s);
}