.primary-header {
  padding: 0 var(--p-space-m);
  height: var(--p-space-xxs);
  display: flex;
  align-items: center;
  gap: var(--p-space-m);
  background: var(--bg-header);
  border-bottom: 1px solid var(--border-default);
}

.header-nav {
  display: flex;
  gap: var(--p-space-s);
}

.header-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--p-space-m);
  font-size: var(--p-font-size-xs);
}

.indexing-status {
  display: flex;
  align-items: center;
  gap: var(--p-space-s);
  color: var(--text-secondary);
}
