.ui-resizable-group {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ui-resizable-group-horizontal {
  flex-direction: row;
}

.ui-resizable-group-vertical {
  flex-direction: column;
}

.ui-resizable-panel {
  overflow: auto;
}

/* Handle */
.ui-resizable-handle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  
  background-color: var(--border-default);
  
  transition: background-color var(--transition-fast);
}

.ui-resizable-handle:hover {
  background-color: var(--action-primary-bg);
}

.ui-resizable-handle-horizontal {
  width: 1px;
  cursor: col-resize;
}

.ui-resizable-handle-vertical {
  height: 1px;
  cursor: row-resize;
}

/* Make handle easier to grab */
.ui-resizable-handle::before {
  content: "";
  position: absolute;
}

.ui-resizable-handle-horizontal::before {
  top: 0;
  bottom: 0;
  left: -var(--p-space-xs);
  right: -var(--p-space-xs);
}

.ui-resizable-handle-vertical::before {
  left: 0;
  right: 0;
  top: -var(--p-space-xs);
  bottom: -var(--p-space-xs);
}

/* Optional visible handle bar */
.ui-resizable-handle-bar {
  background-color: var(--border-default);
  border-radius: 9999px;
  transition: background-color var(--transition-fast);
}

.ui-resizable-handle-horizontal .ui-resizable-handle-bar {
  width: var(--p-space-xs);
  height: var(--p-space-l);
}

.ui-resizable-handle-vertical .ui-resizable-handle-bar {
  width: var(--p-space-l);
  height: var(--p-space-xs);
}

.ui-resizable-handle:hover .ui-resizable-handle-bar {
  background-color: var(--action-primary-bg);
}
